.carousel-images {
    position: relative;
}

.single-image {
    height: 30rem;
}

@media (max-width: 767px) {
    .single-image{
        height: 15rem;
    }
}
.upload-time {
    bottom: 10px;
    left: 10px;
    background: #3d850a;
    color: white;
    padding: 0 5px;
    font-size: 13px;
}


.apartment-form {
    background: #eaeaea;
    padding: 20px 10px;
    border-radius: 5px;
    width:35%;
}


.apartment-form > div {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin: 10px 0;
    background: white;
    border-radius: 5px;
    outline: none;
}

.apartment-form label {
    padding: 0 10px;
}

.apartment-form input {
    border: #09d3ac;
    border-radius: 5px;
}
.details{
    background-color:#f9f7f6
}
.details span {
    margin-right: 10px;
    font-size: 1em;
    border-right: 1px solid grey;
    padding-right: 10px;
}

.apartment-map {
    margin: auto;
    text-align: right;
}

.prev-apartment {
    bottom: 10%;
}

.next-apartment{
    right: 0;
    bottom: 10%;
}
.style-arrow-apartment{
    padding: 10px;
    border-radius: 4px;
    background-size: cover;
    transition: padding 0.7s;
    color: white;
    font-size: 20px;
}
.style-arrow-apartment:hover{
    padding: 40px;
}


.images img{ 
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.images img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

